<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ .Site.Params.bootstrap.css_url }}" rel="stylesheet" integrity="{{ .Site.Params.bootstrap.css_hash }}" crossorigin="anonymous">
  </head>
  <body class="d-flex flex-column h-100">
    <script src="{{ .Site.Params.bootstrap.js_url }}" integrity="{{ .Site.Params.bootstrap.js_hash }}" crossorigin="anonymous"></script>

    <!-- Navbar -->
    {{ partialCached "header.html" . }}

    <!-- Main Block -->
    {{ block "main" . }}
    {{ end }}

    <!-- Footer -->
    {{ partialCached "footer.html" . }}
  </body>
</html>
